$fa-font-path: "~font-awesome/fonts";

@import "~font-awesome/scss/font-awesome";
@import "~bulma/bulma.sass";
@import url("~leaflet/dist/leaflet.css");
@import url("~react-leaflet-markercluster/dist/styles.min.css");
@import "modules/commons/style/index";
@import "modules/home/style/index";

html, body {
  height: 100%;
  background: $background;
  overflow: hidden;
}

#app, #react-app {
  height: 100%;
}

.container {
  .section {
    height: 100%;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;

    @include mobile {
      padding: 0.5rem;
    }

    footer {
      margin-top: 0.5rem;

      a {
        &:first-child {
          margin-left: 0;
        }
        margin: 0 0.5rem;
      }
    }
  }
}

.modal {
  z-index: $leaflet-z-index + 2;
}