.home {
  overflow: hidden;
  position: relative;
  height: 10rem;

  .title {
    margin-left: 10%;
    margin-bottom: 1rem;
  }

  .decoration {
    background-image: url("assets/mosaic.png");
    transform: rotate(-34deg);
    height: 16rem;
    width: 16rem;
    left: 80%;
    position: absolute;
    bottom: 0;
  }

  .field .control{
    width: 80%;
    margin: auto;

    input {
      z-index: 1;
    }
  }
}