@import "~modules/commons/style/_vars";
@import "~bulma/sass/utilities/mixins";

.home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .search-container {
    position: absolute;
    z-index: $leaflet-z-index + 1;
    padding: 2rem 5rem 0 3rem;
    width: 100%;

    .wrapper {
      margin: auto;
      @include desktop {
        width: 80%;
      }
    }

    .title {
      display: inline;
      margin-bottom: 1rem;
      margin-right: 0.5rem;
    }

    .show-credits {
      color: $theme-color;
      font-size: 0.7rem;
    }
  }

  .decoration-box {
    position: relative;
    height: 10rem;
    overflow: hidden;

    .decoration {
      transform: rotate(-34deg);
      height: 20rem;
      width: 20rem;
      left: 80%;
      position: absolute;
      bottom: -25%;
    }

  }

  .field {
    margin-bottom: 0;
    .control input {
      z-index: 1;
    }
  }
}