@import "~modules/commons/style/_vars";
@import "~bulma/sass/utilities/mixins";

.home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .search-container {
    position: absolute;
    z-index: $leaflet-z-index + 1;
    padding: 2rem 5rem 0 3rem;
    width: 100%;

    .wrapper {
      margin: auto;
      @include desktop {
        width: 80%;
      }
    }

    .title {
      display: inline;
      margin-bottom: 1rem;
      margin-right: 0.5rem;
    }

    .show-credits {
      color: $theme-color;
      font-size: 0.7rem;
      white-space: nowrap;

      @include mobile {
        font-size: 1rem;
      }
    }
  }

  .decoration-box {
    position: relative;
    height: 10rem;
    overflow: hidden;

    .decoration {
      position: absolute;
      transform: rotate(65deg);
      top: -90%;
      right: -4rem;

      @include tablet {
        right: -8rem;
      }

      @include mobile {
        right: -15rem;
      }

      picture {
        width: 100%;
        height: 100%;
        transform: rotate(55deg);
      }
    }
  }

  .field {
    margin-bottom: 0;
    .control input {
      z-index: 1;
    }
  }
}