@import "modules/commons/style/vars";

.map-container {
  flex-grow: 1;
  display: flex;
  margin-top: 0.5rem;

  .leaflet-container {
    flex-grow: 1;
  }

  .leaflet-popup-content {
    .station-property {
      display: block;

      .popup-label {
        margin-right: 0.2rem;
      }

    }
  }

  .marker-cluster {
    span {
      color: #fff;
      text-shadow: 0 0 1px #666;
      font-weight: bold;
    }

    &-small {
      $small: lighten($theme-color, 40%);
      background: rgba($small, 0.4);
      div {
        background: $small;
      }
    }
    &-medium {
      $medium: lighten($theme-color, 20%);
      background: rgba($medium, 0.4);
      div {
        background: $medium;
      }
    }
    &-large {
      background: rgba($theme-color, 0.4);
      div {
        background: $theme-color;
      }
    }
  }

}