@import "modules/commons/style/vars";

.suggestion-container {
  position: relative;

  $active-color: lighten($theme-color, 40%);

  .is-active {
    background-color: $active-color;
  }

  .box {
    padding: 0;

    li[role="option"] {
      border-bottom: 1px solid #E8E8E8;

      &:last-child {
        border: none;
      }

      &:hover {
        cursor: pointer;
        background-color: $active-color;
        color: #000;
      }
    }
  }

  .suggestion {
    padding: 0.2rem 1rem;
    display: flex;
    align-content: space-between;

    &-container{
      width: 96%;
      margin: auto;
    }

    .city {
      flex-grow: 1;
      overflow: hidden;

      .name, .project {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        width: 100%;
      }

      small {
        font-size: 0.7rem;
      }
    }

    [class^="flag-"] {
      height: 1.5rem;
      margin-top: 0.5rem;
    }
  }
}